<div class="flex flex-col md:flex-row min-h-screen">
    
    <div class="md:ml-[12rem] py-6 px-4 md:px-12 basis-1/2 my-auto grow">
        
        <p class="text-gray-700 font-bold text-4xl text-left">
           Sign <span class="text-blue-500">In</span>
        </p>
        <form>
            <div class="flex flex-col p-10">
                <div>
                    <label for="email" class="mt-3 text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@email.com" required="">
                </div>
                <div>
                    <label for="password" class="mt-3 text-sm font-medium text-gray-900 block mb-2 dark:text-gray-300">Password</label>
                    <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required="">
                </div>
                <button class="mt-10 px-6 py-4 text-xs md:text-base font-semibold rounded-md bg-blue-500 text-white" type="submit">
                    Sign in 
                </button>
                <a class="mt-4 text-xs md:text-base text-blue-500 font-bold underline" routerLink="/lendersignup" routerLinkActive="active">Not yet registered? Sign Up</a>
        </div>
        </form>
        
       
    </div>
    <div class="basis-1/2 p-6 md:p-16 my-auto">
      <img src="/assets/download.png" alt="" class="mx-auto h-150 w-100" loading="lazy" />
  </div>
</div>
