<div class="flex flex-col md:flex-row">
    <!-- <div class="h-[30vh] bg-blue-500 w-full">
        <h3>Hellooooooo</h3>
    </div> -->
    <div class="w-[18vw] bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 h-screen">
        <div class="p-5">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg mx-auto" src="/assets/avatar.png" alt="Bonnie image"/>
            <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white mx-auto text-center">Full Name</h3>
            <span class="text-sm text-gray-500 dark:text-gray-400 mx-auto text-center">Logout</span>
        </div>
    </div>
    <div class="w-full h-[30vh] flex flex-row">
        <div class="m-2 ml-4 mt-4 p-5 w-[24vw] rounded text-gray-700 shadow-lg shadow-blue-500/50">
            <h3 class="mb-1 text-lg font-medium text-gray-700 dark:text-gray-700">Total Loan Amount XXXXX</h3>
            <h3 class="mb-1 text-lg font-medium text-gray-700 dark:text-gray-700">Loan Outstanding Amount XXXXX</h3>
            <h3 class="mb-1 text-lg font-medium text-gray-700 dark:text-gray-700">Maturity Date XXXXX</h3>
        </div>
        <div class="m-2 ml-4 mt-4 p-5 w-[24vw] bg-gradient-to-r from-blue-500 to-indigo-500 rounded shadow-lg shadow-blue-500/50">
            <h3 class="mb-1 text-lg font-medium text-white dark:text-white">Total Loan Amount XXXXX</h3>
            <h3 class="mb-1 text-lg font-medium text-white dark:text-white">Loan Outstanding Amount XXXXX</h3>
            <h3 class="mb-1 text-lg font-medium text-white dark:text-white">Maturity Date XXXXX</h3>
        </div>
    </div>
</div>