
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-6 rounded shadow-md dark:bg-gray-800">
    <div class="container flex flex-wrap justify-between items-center mx-auto ml-2 mr-2">
      <a href="https://flowbite.com" class="flex items-center">
          <img src="/assets/fijo.png" class="h-6 sm:h-9" alt="Flowbite Logo" />
          <span class="self-center text-3xl font-bold whitespace-nowrap text-blue-500">fijo</span>
      </a>
      </div>
  </nav>
  <div class="flex flex-row h-screen mx-[20vw]">



    <div *ngIf="focus == 1" class="my-auto mx-2 p-10 w-[30vw] bg-white-500 rounded shadow-lg shadow-gray-500/20 hover:shadow-blue-500/50 flex flex-col">
        <img class="h-[120px] m-auto mt-4" src="/assets/borrower.png" alt="Loan" />
        <button class="mt-10 px-6 py-4 text-xs md:text-base font-bold rounded-md bg-blue-500 text-white"
            type="submit" (click)="borrowerSignUp()">
            I want to borrow
        </button>

    </div>
    <div *ngIf="focus == 1" class="my-auto mx-2 p-10 w-[30vw] bg-white-500 rounded shadow-lg shadow-gray-500/20 hover:shadow-blue-500/50 flex flex-col">
        <img class="h-[120px] m-auto mt-4" src="/assets/lenderInvest.png" alt="Loan" />
        <button class="mt-10 px-6 py-4 text-xs md:text-base font-bold rounded-md bg-blue-500 text-white"
            type="submit" (click)="changeFocusToTwo()">
            I want to invest
        </button>

    </div>

    <div *ngIf="focus == 2" class="my-auto mx-2 p-10 w-[30vw] bg-white-500 rounded shadow-lg shadow-gray-500/20 hover:shadow-blue-500/50 flex flex-col">
        <img class="h-[120px] m-auto mt-4" src="/assets/individual.png" alt="Loan" />
        <button class="mt-10 px-6 py-4 text-xs md:text-base font-bold rounded-md bg-blue-500 text-white"
            type="submit" (click)="lenderSignUp()">
            I am an individual
        </button>

    </div>
    <div *ngIf="focus == 2" class="my-auto mx-2 p-10 w-[30vw] bg-white-500 rounded shadow-lg shadow-gray-500/20 hover:shadow-blue-500/50 flex flex-col">
        <img class="h-[120px] m-auto mt-4" src="/assets/organisation.png" alt="Loan" />
        <button class="mt-10 px-6 py-4 text-xs md:text-base font-bold rounded-md bg-blue-500  text-white"
            type="submit" (click)="organisationSignUp()">
            I am an organisation
        </button>

    </div>

</div>