<div class="flex flex-col md:flex-row min-h-screen">
    
    <div class="md:ml-[12rem] py-6 px-4 md:px-12 basis-1/2 my-auto grow">
        
        <p class="text-gray-700 font-bold text-4xl text-left">
            Get <span class="text-blue-500">easy</span> loans. Invest <span class="text-blue-500">wiser</span>.
        </p>
        <div class="mt-6 bg-white border-gray-100 dark:bg-gray-800 dark:border-gray-500 border-b shadow rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
          <div class="flex items-center space-x-4">
            <img src="/assets/money-bag.png" alt="" width="88" height="88" class="flex-none rounded-lg bg-gray-100" />
            <div class="ml-4 min-w-0 flex-auto space-y-1 font-semibold">
              <h2 class="text-gray-700 dark:text-gray-700 text-2xl font-bold">As a borrower</h2>
              <p class="text-gray-500 dark:text-gray-400 text-base">
                Get easy loans at reasonable interest rates. 
              </p>
              <!-- <button class="h-10 px-6 text-xs md:text-base font-semibold rounded-md bg-blue-500 text-white" type="submit">
                Sign up as a borrower
              </button> -->
            </div>
          </div>
        </div>
        <div class="mt-6 bg-white border-gray-100 dark:bg-gray-800 dark:border-gray-500 border-b shadow rounded-t-xl p-4 pb-6 sm:p-10 sm:pb-8 lg:p-6 xl:p-10 xl:pb-8 space-y-6 sm:space-y-8 lg:space-y-6 xl:space-y-8">
          <div class="flex items-center space-x-4">
            <img src="/assets/invest.png" alt="" width="88" height="88" class="flex-none rounded-lg bg-gray-100" />
            <div class="min-w-0 flex-auto space-y-1 font-semibold">
              <h2 class="text-gray-700 dark:text-gray-700 text-2xl font-bold">As an investor</h2>
              <p class="text-gray-500 dark:text-gray-400 text-base">
                Invest now and get sustained returns. Avail better interest rates than FD with low risk.
              </p>
              <!-- <button class="h-10 px-6 text-xs md:text-base font-semibold rounded-md bg-blue-500 text-white" type="submit">
                Sign up as a lender
              </button> -->
            </div>
          </div>
        </div>
        <button class="mt-10 px-6 py-4 text-xs md:text-base font-semibold rounded-md bg-blue-500 text-white" type="submit">
          Get Started <i class="fas fa-arrow-right text-white"></i>
        </button> &nbsp; &nbsp; <a class="text-xs md:text-base text-blue-500 font-bold underline" routerLink="/borrowersignup" routerLinkActive="active">Already have an account? Sign in.</a>
    </div>
    <div class="basis-1/2 p-6 md:p-16 my-auto">
      <img src="/assets/main.jpg" alt="" class="mx-auto grow" loading="lazy" />
  </div>
</div>
