<div class="flex flex-col md:flex-row">
    <!-- <div class="h-[30vh] bg-blue-500 w-full">
        <h3>Hellooooooo</h3>
    </div> -->

    <div class="w-[18vw] bg-white border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 h-screen">
        <div class="p-5">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg mx-auto" src="/assets/avatar.png" alt="Avatar" />
            <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white mx-auto text-center">{{fullName}}</h3>
            <span class="text-sm text-gray-500 dark:text-gray-400 mx-auto text-center">Logout</span>
            <h3 class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-700"></h3>
            <button class="mt-10 px-6 py-4 text-xs md:text-base font-semibold rounded-md bg-blue-500 text-white"
            type="submit" (click)="investScreen()">
            Invest
        </button>
        </div>
    </div>
    <div class="flex flex-col">
        <div class = "w-full h-[35vh] flex flex-row overflow-x-auto">
         
            <div *ngFor="let item of transactions; index as i; " class="m-2 ml-4 mt-4 p-5 w-[28vw] rounded text-gray-700 shadow-lg shadow-gray-300/50 flex flex-row">
                <img class="h-24 mx-6 my-auto" src="/assets/loan.png" alt="Loan" />
                <div class="ml-2 my-auto">
                    <h3 class="mb-1 text-lg font-bold text-blue-600 dark:text-gray-700">Portfolio {{i+1}}</h3>
                    <h3 class="mb-1 text-base text-gray-700 dark:text-gray-700">Total Amount Invested</h3>
                    <h3 class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-700">₹{{item.amount}}</h3>
                    <h3 class="mb-1 text-base text-gray-700 dark:text-gray-700">Interest Frequency</h3>
                    <h3 class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-700">{{item.frequency}}</h3>
                    <h3 class="mb-1 text-base text-gray-700 dark:text-gray-700">Maturity Date</h3>
                    <h3 class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-700">{{item.requestDate.substring(8,10)}} {{month[convertString(item.requestDate.substring(5,7))-1]}} {{(convertString(item.requestDate.substring(0,4)) + 1)}}</h3>
                </div>
            </div>
        </div>
        <div class = "overflow-y-auto">
            <div class="m-2 ml-4 mt-4 p-8 w-[58vw] rounded text-gray-700 shadow-lg shadow-gray-300/50 overflow-y-auto">
                <h3 class="mb-1 text-lg font-bold text-gray-700 dark:text-gray-700">Transactions</h3>
                <hr />
                <div *ngFor="let item of transactions; ">
                <div class="flex items-start space-x-6 p-6">
                    <img src="/assets/{{item.type}}.png" alt="" width="30" class="flex-none rounded-md bg-slate-100" />
                    <div class="min-w-0 relative flex-auto">
                      <div class="flex flex-wrap">
                        <h1 class="flex-auto text-lg font-semibold text-slate-900">
                          ₹{{item.amount}}
                        </h1>
                        <div class="text-lg font-semibold text-slate-500">
                          {{item.requestDate.substring(8,10)}} {{month[convertString(item.requestDate.substring(5,7))-1]}} {{item.requestDate.substring(0,4)}}
                        </div>
                      </div>
                      
                      <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium">
                        <div>
                          <dt class="sr-only">{{item.description}}</dt>
                          <dd class="px-1.5 ring-1 ring-slate-200 rounded">{{item.description}}</dd>
                        </div>
                       
                        
                      </dl>
                    </div>
                </div>
                <hr/>
              </div>
            </div>
        


    </div>
</div>